footer
    +clearfix
    min-height: 192px
    
    background: url(../img/footer.png)
        position: bottom center
        repeat: no-repeat
        //size: cover
        //attachment: fixed

    .iconsfoot
        margin: 100px 0  0 450px
        

        .social
        
            li
                float: right
                
                display: inline-block
                text-align: center
                margin:  !important
                padding: 10px
                .insta,
                .email,
                .admin
                    margin: auto               
                    display: block 
                    max-width: 20px
                    max-height: 20px
                a   
                    text-align: center
                   
                    color: $branco
    .telef 
        float: left
        margin-left: 390px

        .tel
            max-width: 20px
            max-height: 20px
        p
        color: $branco   
        font-weight: 2
