footer
    +clearfix
    min-height: 192px
    
    background: url(../img/footer.png)
        position: bottom center
        repeat: no-repeat
        size: cover
        //attachment: fixed

    .iconsfoot
        margin: 100px 0  0 450px
        

        .social
        
            li
                text-align: center
                display: inline-block!important
                padding: 1px
                .insta,
                .email,
                .admin
                    margin: auto               
                    display: block 
                    max-width: 20px
                    max-height: 20px
                a   
                    text-align: center
                    text-transform: lowercase
                    color: $branco


    h5
        text-align: center
        color: $branco
    
    .telef 
        margin: -100px 0 0 80px

        .tel
            max-width: 20px
            max-height: 20px
        p
        color: $branco   
        font-weight: 2
